
<div class="app-container">
  <!-- ADD NEW COLOR -->
  <input #newColor type="text" placeholder="Enter a new color">
  <button class="btn" (click)="addColor(newColor.value)">Add Color</button><br>

  <!-- ADD NEW COUNTRY -->
  <input #newCountry type="text" placeholder="Enter a new country">
  <button class="btn" (click)="addCountry(newCountry.value)">Add Country</button><br>

  <input type="checkbox" [(ngModel)]="live">
  <app-child [data]="colors" [countries]="countries" [incrementedValueInput]="incrementedValue"  [live]="live" [data1]="data"></app-child>



  <!-- ADD NEW SUBJECT -->
  <input #newSubject type="text" placeholder="Enter a new subject">
  <button class="btn" (click)="addSubject(newSubject.value)">Add Subject</button>
  <h1>List of Subjects</h1>
  <div *ngFor="let item of subjects">
    <li>{{item}}</li>
  </div>
</div>




